<ion-view title="Order history" id="history" style="">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="orderHistory-card21">
      <ion-item class="item-icon-left" id="orderHistory-list-item15" ui-sref="orderARide" style="">
        <i class="icon ion-android-person"></i>Émilien Coutant-Kerbalec</ion-item>
      <ion-item class="item-icon-left" id="orderHistory-list-item18" style="">
        <i class="icon ion-cash"></i>10.5 €</ion-item>
      <ion-item class="item-icon-left" id="orderHistory-list-item26" style="">
        <i class="icon ion-android-calendar"></i>10.04.2016 15:10</ion-item>
    </div>
    <div class="list card" id="orderHistory-card24">
      <ion-item class="item-icon-left" id="orderHistory-list-item31" ui-sref="orderARide" style="">
        <i class="icon ion-android-person"></i>Émilien Coutant-Kerbalec</ion-item>
      <ion-item class="item-icon-left" id="orderHistory-list-item32" style="">
        <i class="icon ion-cash"></i>10.5 €</ion-item>
      <ion-item class="item-icon-left" id="orderHistory-list-item33" style="">
        <i class="icon ion-android-calendar"></i>10.04.2016 15:10</ion-item>
    </div>
    <div class="list card" id="orderHistory-card25">
      <ion-item class="item-icon-left" id="orderHistory-list-item34" ui-sref="orderARide" style="">
        <i class="icon ion-android-person"></i>Émilien Coutant-Kerbalec</ion-item>
      <ion-item class="item-icon-left" id="orderHistory-list-item35" style="">
        <i class="icon ion-cash"></i>10.5 €</ion-item>
      <ion-item class="item-icon-left" id="orderHistory-list-item36" style="">
        <i class="icon ion-android-calendar"></i>10.04.2016 15:10</ion-item>
    </div>
  </ion-content>
</ion-view>
