<ion-view title="New booking">
    <ion-content padding="true" class="has-header">
        <form>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Latitude</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Longitude</span>
                <input type="number" placeholder="">
            </label>
            <button class="button button-stable button-block " ng-click="submit()">Submit booking request!</button>
        </form>
    </ion-content>
</ion-view>
